{% extends "app/main.html" %}
{% load static %}
{% block content %}
    <section class="mb-6">
        <div class="container pb-5" style="text-align: justify;text-justify: inter-word;">
            <div class="card text-dark bg-light my-3">
                <div class="card-body">
                    <h6 class="card-title">Important!</h6>
                    <p class="card-text">
                        If you do not understand any of the languages in which this document is currently available, we strongly request you not to agree and not accept the agreement and, consequently, not to continue to use the application. In case of any differences between a translation and the English version, the English version prevails. Therefore, by continuing to use our application, you agree and acknowledge that you understood the terms of this document in one of the languages in which they are currently available.
                    </p>
                </div>
            </div>

            <div class="section-title-wrap section-header text-center my-5">
                <hr>
                <h4>Cookie Policy</h4>
                <hr>
            </div>
            <ol>
                <p>
                    [Controller’s webs application may use “cookies.”]
                </p>
                <p>
                    Cookies are text files containing small amounts of information which are downloaded to your device when you visit and use the web application. Cookies are then sent back to the originating URL on each subsequent visit, or to another URL that recognises that cookie. Cookies are useful because they allow a website to recognise a user’s device. You can find more information about cookies at: <a target="_blank" href="https://www.allaboutcookies.org/">All About Cookies</a> and <a target="_blank" href="https://www.youronlinechoices.eu">Your Online Choices</a>. For a video about cookies visit <a target="_blank" href="https://policies.google.com/technologies/cookies">Google</a>.
                </p>
                <p>
                    Cookies do lots of different jobs, like letting you navigate between pages efficiently, remembering your preferences, and generally improve the user experience.
                </p>
                <p>
                    They can also help to ensure that adverts you see online are more relevant to you and your interests.
                </p>
                <p>
                    You may set and/or adjust your (browser) settings and preferences regarding cookies at any time, and you may disable cookies. Disabling them may prevent you from using certain parts/functionalities of the Controller’s web application.
                </p>
                <p>
                    We may collect anonymous information, including for statistical or research purposes.
                </p>
                <p>
                    We use the following categories on our web based application:
                </p>

                <li>
                    <h6>Strictly Necessary Cookies</h6>
                    <p>
                        These cookies are essential in order to enable you to move around Controller's web application and use its features, such as accessing secure areas. Without these cookies services like shopping baskets or e-billing cannot be provided.
                    </p>
                </li>
                <li>
                    <h6>
                        Performance Cookies
                    </h6>
                    <p>
                        These cookies collect information about how you use the Controller’s web application — for instance, which pages you go to most, and if they get error messages from web pages and/or the web application. These cookies don’t collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how the Controller’s website(s) and/or the application works.
                    </p>
                    <p>
                        As 3rd party cookies in this category we use Google Analytics, a service which transmits website traffic data to Google servers in the United States. The reports provided by Google Analytics help us understand website traffic and webpage usage. Google Analytics does not identify individual users or associate your IP address with any other data held by Google.
                    </p>
                    <ul>
                        <p>
                            <b>Google Analytics:</b> For more information about Google Analytics cookies, please see Google's help pages and privacy policy:
                        </p>
                        <li>
                            <a target="_blank" href="https://policies.google.com/privacy">Google's Privacy Policy</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://support.google.com/analytics/answer/6004245?hl=en">Google Analytics Help pages</a>
                        </li>
                    </ul>
                    <p>
                        Google has developed the Google Analytics opt-out browser add-on; if you want to opt out of Google Analytics, you can download and install the add-on for your web browser here.
                    </p>
                    <p>
                        Third Party Analytics. We have engaged Inspectlet to analyse the activities of visitors to this website, and Inspectlet’s authorized use of cookies and other tracking technologies enable it to have access to Personal Information of visitors to this website. Such access to and use of Personal Information by Inspectlet is governed by <a target="_blank" href="https://www.inspectlet.com/terms-of-service#privacy">Inspectlet's Privacy</a> Policy.
                    </p>
                </li>
                <li>
                    <h6>Functionality Cookies</h6>
                    <p>
                        These cookies allow the Controller’s web application to remember choices you make while browsing and/or using the application (such as your user name, language or the region you are in) and provide enhanced, more personal features.
                    </p>
                    <p>
                        These cookies can also be used to remember changes you have made to text size, language and other parts of web pages that you can customize.
                    </p>
                    <p>
                        The information these cookies collect will not personally identify you, and they cannot track your browsing activity on non- Controller’s websites.
                    </p>
                    <p>
                        For reliable review of your order status, on-screen on the application, in real-time, and also for easy reordering, your data may be saved on your device, serving a cookie locally.
                    </p>
                </li>
                <li>
                    <h6>Targeting cookies or advertising cookies</h6>
                    <p>
                        These cookies will usually be third-party cookies, although if a user is visiting the advertising network’s own website it is technically possible these could be first party. They will always be persistent but time-limited cookies. These cookies can be associated with services provided by the third party but this is not always the case. These cookies contain a unique key that is able to distinguish individual users’ browsing habits or that can be translated into a set of browsing habits or preferences using information stored elsewhere. Generally speaking, the privacy statement should indicate if the cookie is being used as part of an advertising network. Cookies may also be used to limit the number times a user sees a particular ad on a website and to measure the effectiveness of a particular campaign.
                    </p>
                    <p>
                        Examples include:
                    </p>
                    <ol>
                        <li>
                            Cookies placed by advertising networks to collect browsing habits in order to target relevant adverts to the user. The site the user is visiting need not actually be serving adverts, but often this will also be the case.
                        </li>
                        <li>
                            Cookies placed by advertising networks in conjunction with a service implemented by the website to increase functionality, such as commenting on a blog, adding a site to the user’s social network, providing maps or counters of visitors to a site.
                        </li>
                    </ol>
                    <p>
                        By default, the web ordering application and its originating website URL is not serving category 4 cookies. However, it may be possible to order online from other websites that frame-in or facilitate access to the online menu and web application. Therefore, please always check the cookie policy of the visited website from which you initiated an online ordering session in order to find out if any category 4 cookies are served and which is the way to opt-out or opt-in for them, as the legal case may be.
                    </p>
                </li>
            </ol>
        </div>
    </section>
{% endblock %}